Repository Donskelle/me, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, readme, Src, GithubAction, HOOOOOOKS, Deps, Images, ESLint, AWS

Wait for Job1
  .github/workflows/build.yml
  .gitignore
Labels: Repo, GithubAction

Update Token
  .github/workflows/build.yml
  .github/workflows/sendSms.yml
Labels: GithubAction

Readd envs
  .github/workflows/build.yml
Labels: GithubAction

Use Npm
  .github/workflows/build.yml
  package-lock.json
  package.json
Labels: Repo, GithubAction, Deps

Rename upload
  .github/workflows/build.yml
Labels: GithubAction

Remove Lint File
  .github/workflows/build.yml
  .github/workflows/buildandtest.yml
  .github/workflows/linttest.yml
Labels: GithubAction

Add upload config
  .lighthouserc.json
  package.json
Labels: Repo, Deps

Add Real Link in SMS, Autorun LHCI
  .github/workflows/buildandtest.yml
  .github/workflows/sendSms.yml
  package.json
Labels: Repo, GithubAction, Deps

Add Token
  .github/workflows/buildandtest.yml
Labels: GithubAction

Fix Test
  .lighthouserc.json
  package.json
Labels: Repo, Deps

Fix Conf Path
  package.json
Labels: Repo, Deps

Call Upload
  .github/workflows/buildandtest.yml
Labels: GithubAction

Fix Upload
  package.json
Labels: Repo, Deps

Add Lighthouse Tests (#7)
  .github/workflows/build.yml
  .github/workflows/buildandtest.yml
  .github/workflows/linttest.yml
  .github/workflows/sendSms.yml
  .gitignore
  .lighthouserc.json
  package-lock.json
  package.json
Labels: Repo, GithubAction, Deps

Update README.md
  README.md
Labels: Repo, readme

Cleanup
  src/components/GitImg.js
  src/components/GitImgRoll.js
  src/components/IntroBackground.js
  src/components/RepoList.js
  src/views/GithubStars.js
  src/views/Intro.js
Labels: Src

Remove Private Repos
  src/hooks/static/githubStars.js
  src/views/GithubStars.js
Labels: Src, HOOOOOOKS

Fix RepoList
  src/components/RepoList.js
Labels: Src

.github/labeler.yml:

Repo:
  - ./*

readme:
  - README.md

Src:
  - src/**/*

GithubAction:
  - .github/**/*

HOOOOOOKS:
  - src/hooks/**

Deps:
  - ./package.json
  - ./package-lock.json

Images:
  - src/images/**/*

ESLint:
  - .eslintrc

AWS:
  - amplify/**/*
